body {
    font-family: Arial, sans-serif;
    background-image: url('https://fonoteka.top/uploads/posts/2021-06/1624290612_48-phonoteka_org-p-devchachie-oboi-krasivo-53.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.envelope {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: red;
    color: #fff;
}
